.iactive__block {
    padding: 10px 10px 10px 30px;
    border-bottom: 1px solid #c5c5c5;
}

.iactive__title {
    font-weight: bold;
    font-size: 13pt;
    line-height: 15pt;
    margin-bottom: 14pt;
    color: #ff0f10;
}

.iactive__question {
    font-weight: bold;
    margin-bottom: 10px;
}

.iactive__answer {
    display: block;
    margin-bottom: 10px;
}

.iactive__line {
    margin: 5px 0 0;
}

.iactive__percent {
    display: inline-block;
    padding: 3px;
    background-color: #fe4949;
    text-align: center;
    color: #ffffff;
}